@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{list-style:none;}

body{
	font: 14px/1.9 'Noto Sans JP','ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ,;
	color: #fff;
	background: #000;
}

a{
	color: #0066ff;
	text-decoration: none;
}

.circle-wrap-wrap{
  width: 50vw;
  height: 50vh;
  min-width: 600px;
  min-height: 600px;
  display: block;
  position: fixed;
  top: 50vh;
  left: 25vw;
}

.circle-wrap {
    display: block;
}
.circle-wrap:nth-child(1){
  transform: rotate(60deg);
}
.circle-wrap:nth-child(2){
  transform: rotate(120deg);
}
.circle-wrap:nth-child(3){
  transform: rotate(180deg);
}
.circle-wrap:nth-child(4){
  transform: rotate(240deg);
}
.circle-wrap:nth-child(5){
  transform: rotate(300deg);
}
.circle-wrap:nth-child(6){
  transform: rotate(0deg);
}

.circle-wrap>.circle-item {
    width: 20vw; /*希望の円形要素1つの横幅*/
    max-width: 200px; /*/ 希望の最大幅*/
    height: 20vw;
    max-height: 200px;
    background-color: orange; 
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
}
