.background {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: fixed;
    background-position: center center;
    opacity: 0;
-webkit-background-size: cover;
        background-size: cover;
-webkit-transition: all 0.5s ease 0s;
   -moz-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
}
.show .background {
    opacity: 1;
}
.contents .wrap {
    padding: 40vh 0 60vh;
    position:relative;
    z-index: 2;
	margin: 0;
}
/* design*/
#content01_bg {background-image: url(../img/map/game.png);}
#content02_bg {background-image: url(../img/map/java.png);}
#content03_bg {background-image: url(../img/map/live.png);}
#content01 .wrap { background-color: rgba(140,140,140,0.2);}
#content02 .wrap { background-color: rgba(140,140,140,0.2);}
#content03 .wrap { background-color: rgba(140,140,140,0.2);}
.text-box {
    padding: 50px 25px;
    width: 480px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.text-box .catch {
    margin: 0 0 10px;
    font-size: 40px;
}
.text-box .copy {
    margin: 0;
    line-height: 2;
}

body{
	margin: 0;
	padding: 0;
}





