@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300&display=swap');
/*↑変更すると思うよ*/

/*Card Style*/
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans JP', sans-serif;
  /*とりあえずこのフォントにしてるけど変更しようぜ*/

}

.card{
    height: 7rem;
    background-color: var(--right-accent);
    border-radius: 1rem;
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: row;
    margin-top : 10px ;
  }
  /*ホバー強調表示*/

  
  .card_thumbnail > *{
    height: 7rem;
    border-radius: 1rem 0 0 1rem;
    margin: 0;
  }
  
  .card_thumbnail{
    margin: 0;
  }
  
  .card_inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }
  
  .card_title{
    font-size: 1rem;
    padding-right: 2rem;
    font-weight: bold;
    border-bottom: solid .15rem var(--dark-accent);
  }

  .card_ditail{
    font-size: 0.8rem;
    padding-right: 1rem;
  }
  
  a{
    text-decoration: none;
    color:black
  }

  
.contents-wrapper {
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

}

.c-caution,
.c-pamphlet {
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

.c-caution h1 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.c-caution p {
  font-size: 1.15em;
}

.c-pamphlet {
  text-align: center;
  margin-top: 10px;
}

.c-pamphlet h1 {
  font-size: 1.35em;
  margin-bottom: 12.5px;
}

.c-pamphlet img {
  width: auto;
  height: 200px;
  object-fit: cover;
}


#case{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
}

#case > *{
  position: absolute;
  margin-bottom: 10px
}

#header-video-case{
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9/*画像のアスペクト比*/){
  #header-video{
      width: 100vw;
  }
}

@media (max-aspect-ratio: 16/9/*画像のアスペクト比*/){
  #header-video{
      height: 100vh;
  }
}

#header-cover{
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000a;
}

#header-title{
  text-align: center;
}

#header-title h1{
    margin-bottom: 10px;
    font-size: 50pt;
    font-weight: bold;
    margin-bottom: 10px;
}

#header-title > *{
  display: block;
  margin: 10px auto;
  color: #fff;
}