
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


.top_title h1 {
  margin-top: 120px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
  color: white;
  font-size: 5em;
}

.top_title h1:before, .top_title h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: rgb(255, 255, 255);
}

.top_title h1:before {
  left:0;
}
.top_title h1:after {
  right: 0;
}


* { 
    margin: 0px; 
    padding: 0px; 
  }
  
  body{
    background-color: black;
    font-family: 'Noto Sans JP', sans-serif;
  }
  


/*フッター*/
.hutta-sns {
    margin: 10px auto;
    text-align: center;
    overflow: scroll;
  }
  
  .hutta-sns i{
    margin-left: 30px;
    margin-right: 30px;
  }
  
/*ヘッダー*/
  
header#hedaer_menu{
  height: 100px;
  font-size: 2em;
  color: white;
  position: fixed;
  margin-top: 40px;
  top: 0;
  left: 0;
  width: 100%;
  background: #2d5375;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  transition: padding .3s;
}
#hedaer_menu.scroll {
padding: 10px 40px;
}
.menu-btn {
  position: fixed;
  top: 50px;
  right: 10px;
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transition-duration: .3s;

  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transition-duration: .3s;
  transform: rotate(-45deg);
}

.menu-btn.unchecked span {
  background-color: rgba(255, 255, 255, 255);/*メニュークローズ時に真ん中の線をもとに戻す*/
}

.menu-btn.unchecked span::before {
  bottom: 8px;
  transition-duration: .3s;

  transform: rotate(0deg);
}
.menu-btn.unchecked span::after {
  top: 8px;
  transition-duration: .3s;
  transform: rotate(0deg);
}
.menu-content {
  width: 284px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 300px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
#menu-btn-check:checked ~ .menu-content {
  left: calc(100% - 284px);/*メニューを画面内へ*/
  transition-duration: .3s;
}

.menu-btn.unchecked ~ .menu-content {
  left: 100%;/*メニューを画面内へ*/
  transition-duration: .3s;
}